/* based on http://polar.openstreetmap.de/ */

html, body, #map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.olControlAttribution {
  position: absolute;
  bottom: 5px !important;
  left: 5px !important;
  width: 183px;
}

.time {
  position: absolute;
  bottom: 30px; !important;
  left: 5px !important;
  z-index: 9999;
  font-size: smaller;
}

.olControlAttribution, .time {
  background: white;
  opacity: 0.3;
  padding: 2px 6px;

  z-index: 9999;
}

.olControlScaleLine {
  background: white;
  opacity: 0.3;

  z-index: 9999;

  position: absolute;
  bottom: 10px !important;
  right: 10px !important;
  left: auto !important;

  padding: 5px 10px;
}

.olControlAttribution:hover, .olControlScaleLine:hover, .time:hover {
  opacity: 0.8;
}

a {
  color: black;
}


#info {
  background-color: white;

  padding: 5px;
  border: 2px solid red;

  position: absolute;
  z-index: 10000;

  bottom: 10px;
  right: 10px;
  width: 600px;
}

#info strong {
  display: block;
  float: left;
  width: 100px;
}

#info span {
  display: block;
  float: left;
}

#info br,
#info h2 {
  clear: both;
}

#title {
  position: absolute;
  left: 64px;
  top: 8px;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 9999;
  padding:8px;
}
